body{
  background-color: azure;
  display: flex;
  flex-direction: column;
  padding: 50px;
  }

/*navbar*/

.nav-item{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: aliceblue;
position: sticky;
top: 0;
width: 100%;
  }

.nav-link{

  margin: 30px;
  color: deeppink;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  }
.nav-link a{font-weight: bold;}

.nav-link:hover{
  color: darkturquoise;}


/*post*/
.content{
  display: flex;
  flex-direction: column;
  background: #e9d4fd;
  margin: 10px;
  text-align: center;
  padding: 50px;
}

.content h2{
  color: deeppink;
  text-align:center;
  }

p{
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  }

.likeCount{
  display: flex;

  }
